mixin radio-input(name, value, title)
    div.container-for-input
        input(type="radio", class="radio-input", id=value, name=name, value=value)&attributes(attributes)
        label(class="text-rus", for=value)
    div.container-for-label
        label(class="text-rus", for=value)= title

div(class="radio-buttons")
    +radio-input("gender", "man", "Мужчина")(checked)
    +radio-input("gender", "woman", "Женщина")