mixin checkbox-input(name, value, title)
    div.checkbox-input-container
        div.container-for-input
            input(type="checkbox", class="checkbox-input", id=name, name=name, value=value)
            label(class="text-rus", for=name)
        div.container-for-label
            label(class="text-rus", for=name)= title


div(class="checkbox-buttons")
    div(class="checkbox-buttons-title")
        div(class="title-sm-rus") Checkbox Buttons
    div(class="checkbox-buttons-inputs")
        +checkbox-input("smoking", "smoking", "Можно курить")
        +checkbox-input("animals", "animals", "Можно с питомцами")
        +checkbox-input("guests", "guests", "Можно пригласить гостей (до 10 человек)")
