mixin title-lg(title)
    h1(class="title-lg")= title
mixin title-md(title)
    h2(class="title-md")= title
mixin title-sm(title)
    h3(class="title-sm")= title
mixin text(title)
    p(class="text")= title
  
mixin box-color
    p.box-color(class!=attributes.class)
mixin setting-color(title)
    p.setting-color= title
mixin name-color(title) 
    p.name-color= title
      
 
  
div(class="conteiner color-type")
 div(class="logo-uikit")
 
 div(class="elements-color")
  div(class="column-one")
   +box-color(class="one")
   +setting-color('Dark Shade 100%')
   +name-color('#1F2041')
   
  div(class="column-one")
   +box-color(class="two")
   +setting-color('Dark Shade 75%')
   +name-color('#1F2041')
   
  div(class="column-one") 
   +box-color(class="three")
   +setting-color('Dark Shade 50%')
   +name-color('#1F2041')
   
  div(class="column-one") 
   +box-color(class="four")
   +setting-color('Dark Shade 25%')
   +name-color('#1F2041')
   
  div(class="column-one") 
   +box-color(class="five")
   +setting-color('Dark Shade 5%')
   +name-color('#1F2041')
   
  div(class="column-one") 
   +box-color(class="six")
   +setting-color('Purple')
   +name-color('#BC9CFF')
   
  div(class="column-one") 
   +box-color(class="seven")
   +setting-color('Green')
   +name-color('#6FCF97')
   
   
 div(class="elements-text")
  div(class="column-one")
   p h1
   p h2
   p h3
   p Body
  div(class="column-two") 
   +title-lg('This one is the sub-section or widget title')
   +title-md('Next one is the item title inside widgets')
   +title-sm('This is a label or CTA text')
   +text('This is the body text which is used for most of the design, like paragraphs, lists, etc.')
   p.text-rus Привет минотавру от первых лиц страны
  